* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(bg.jpg) no-repeat center;
    background-size: 100%;
    min-height: 100vh;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: min-content;
    text-align: center;
    height: min-content;
    background: #0d1031b3;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #9b9dad;
    ;
}

.boxes {
    margin: 20px;
}

input {
    margin: 15px 10px 2px;
    padding: 20px;
    font-size: 25px;
    line-height: 20px;
    border: none;
    border-radius: 10px;
    background: #08080869;
    text-align: right;
    font-weight: bold;
    color: #ffdfef;
    box-shadow: 2px 2px 10px lightslategrey, -2px -2px 10px lightslategray;
}

button {
    width: 4rem;
    height: 4em;
    border-radius: 30%;
    font-size: 16px;
    border: none;
    margin: 8px;
    font-weight: bold;
    cursor: pointer;
    background: #ffffffbf;
}

.active:hover {
    color: #fff;
    background: #3f0707d0;
}

button:hover {
    color: #fff;
    background: #000;
}


input::placeholder {
    color: white;
}

/* 
.expend{
    width: 9rem;
    border-radius: 10px;
} */
.active {
    background: #8b7876;
    color: #fff;
}



@media screen and (max-width:980px) {
    body {
        background: none;
    }

    body {
        background: radial-gradient(lightslategrey, #606075, #140707);
    }

}

@media screen and (max-width:480px) {
    .container {
        width: 70%;
        margin: auto;
    }

    button {
        width: 2.5rem;
        height: 2.7em;
    }

    input {
        font-size: 16px;
    }

}

@media screen and (max-width:392px) {
    .boxes {
        margin: 5px;
    }

    input {
        font-size: 14px;
    }

    .container {
        width: 90%;
        margin: auto;
    }

}